h3 {
    font-family: 'DM Serif Display', serif;
    font-size: 25px;
    color: hsl(0, 100%, 27%)
}

li {
    list-style: none;
    font-style: italic;
    font-weight: 800 cursor;
    cursor: progress;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.center {
    justify-content: center;
}

.space {
    justify-content: space-around
}

img {
    max-width: 50vw;
    max-Height: 50vh;
}

button {}